<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (bookAuthor(); as bookAuthorRef) {
      <div>
        <h2 data-cy="bookAuthorDetailsHeading"><span jhiTranslate="libraryApp.bookAuthor.detail.title">Book Author</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ bookAuthorRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="libraryApp.bookAuthor.bookIsbn">Book Isbn</span></dt>
          <dd>
            <span>{{ bookAuthorRef.bookIsbn }}</span>
          </dd>
          <dt><span jhiTranslate="libraryApp.bookAuthor.authorId">Author Id</span></dt>
          <dd>
            <span>{{ bookAuthorRef.authorId }}</span>
          </dd>
          <dt><span jhiTranslate="libraryApp.bookAuthor.book">Book</span></dt>
          <dd>
            @if (bookAuthor()!.book) {
              <div>
                <a [routerLink]="['/book', bookAuthor()!.book?.id, 'view']">{{ bookAuthorRef.book?.isbn }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="libraryApp.bookAuthor.author">Author</span></dt>
          <dd>
            @if (bookAuthor()!.author) {
              <div>
                <a [routerLink]="['/author', bookAuthor()!.author?.id, 'view']">{{ bookAuthorRef.author?.firstName }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/book-author', bookAuthorRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
